<div class="ngmodal modal fade">
	<div class="modal-dialog modal-lg " style="width: 50%;">
		<div class="modal-content " style="height: 430px; overflow: auto;">
			<!-- Menu -->

			<!-- mainBody -->
			<div style="background:#3d4b8b; ">

				<div class="logo-default" style="color: white; font-size: 20px; margin-top: 23px;margin-left:20px" id="title">新增Slot</div>
				<div class="form-group" style="margin-top: 22px">
					<!-- /input-group -->
				</div>
			</div>


			<div class="col-md-12" style="margin-top: 10px  ;   max-height: 300px;">



				<div class="form-body ">

					<label class="m-checkbox">
						<input type="checkbox" checked="checked" ng-model="sendData.required"> 欄位是否必填
						<span></span>
					</label>

					<div class="form-group m-form__group">
						<label>
							名稱
						</label>
						<input class="form-control m-input m-input--square" ng-model="sendData.value">
					</div>
					<div class="form-group m-form__group">
						<label>
							類型
						</label>
						<input class="form-control m-input m-input--square" ng-model="sendData.slotType">
					</div>
					<div class="form-group m-form__group">
						<label style="display:block">
							提示字元
						</label>
						<input type="text" class="form-control"  ng-model="sendData.prompt" style=" width:90%; display:inline;"  >
						<a class="btn btn-outline-primary" ng-click="addPrompt()"  >+</a>
						 
					</div>
					<!--提示字元列表-->
					<div class="form-group m-form__group" ng-repeat="prompt in promptList track by $index"> 
						<input type="text" class="form-control"  ng-model="prompt.prompt_text" style=" width:90%; display:inline;"  >
						<a class="btn btn-outline-primary"  ng-click="deletePrompt($index)"  >-</a>			 
					</div>




				</div>
				<div style="background:  #3d4b8b; height:80px" class="row ">

						<div  style="margin-top: 20px;" class="col-12">
							<!--  <span style="font-size: 20px; font-weight: 700 !important;">(0/5)</span>-->
							<button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal" id="btn_ok" >確認</button>
							<button type="button" ng-click="close('cancel')" class="btn btn-primary" id="btn_cancel" data-dismiss="modal"   >取消</button>
						</div>
					</div>

			</div>




		</div>
	</div>
</div>