<style>
	.intent_edit_block {
		margin-bottom: 30px;
	}

	td {
		vertical-align: middle !important;
	}
</style>
<div ng-controller="AIArticleListCtrl">
	<div class="page-head">
		<div class="page-title">
			<!-- <h1 style="display: inline-block;">標註表</h1> -->
		</div>
	</div>
	<div class=" portlet-body container">
		
			<div class="row">
				<div class="col-md-12">


					<!-- 插槽 -->
					<div class="col-md-12">

						<h2 style="display: inline-block; margin-top: 10px; margin-bottom: 10px;">
						 
						 
						</h2>
						<button class="btn btn btn-primary" style="float:right" ng-click="addSlots()">新增文本標註
						</button>
						<table class="table table-striped table-bordered table-advance table-hover" datatable="ng" dt-options="slotsListDT">
							<thead>
								<tr>
									<th class=" ">標題</th>
									<th class=" ">內文</th>
									<th class=" ">日期</th>
									<th class=" ">功能</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="article in article_list track by $index">
									<td class="center" style="vertical-align: middle">{{article.article_title}}</td>
									<td class="center" style="vertical-align: middle">{{article.article_content}}</td>
									<td class="center" style="vertical-align: middle">{{article.create_date}}</td>
									<td class="center" style="vertical-align: middle">
										<button type="button" class="btn btn-info" ng-show="entity.entity_type != 'system'"  ng-click="editArticle($index)">編輯</button>
										<button type="button" class="btn btn-danger" ng-show="entity.entity_type != 'system'"  ng-click="deleteArticle($index)">刪除</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>


				</div>
			</div>
		
	</div>
</div>