<style>
textarea {
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
}


</style>
<div ng-controller="AiArticleCtrl">
	<div class="page-head">
		<div class="page-title">
			<!-- <h1 style="display: inline-block;">文本標註</h1> -->

		</div>
	</div>
	<div class=" portlet-body container">
	
			<div class="row">
				<div class="col-md-12">

					<!-- 原文 -->

					<div class="col-md-12 " style="background: #4357ad; color: white">
						<div class="row">
							<div class="col-md-12">
								<h1 style="margin-top: 20px">請輸入原文</h1>
								<p>請在下方區域填入欲分析的原文，並且點擊確認按鈕。</p>
							</div>
							<div class="form-group col-md-12" style="">

								<textarea class="form-control" rows="3" ng-model="userInput"
									style="background-color: #3d4b8b; color: white;"></textarea>

								<button type="button" class="btn btn-primary col-md-12 "
									style="background: #3d4b8b; width: 100px; color: white; float: right; margin: 10px"
									ng-click="submitText()">確認</button>
							</div>
						</div>





					</div>


					<!-- preview -->

					<div class="row">
						<div class="col-md-12 ">
							<div class="col-md-12 ">
								<h1 style="margin-top: 20px"></h1>
								<p style="font-size: 18px;"
									ng-bind-html="trustAsHtml(serverText)"></p>
							</div>
							<!-- 底部控制列 -->
							<div class="col-md-12" style="background: #4357ad;">
								<div class="input-icon right"
									style="width: 40%; display: inline-block; margin: 10px">
									<input type="text" class="form-control input-circle"
										placeholder="請輸入標籤" ng-model="tag">
								</div>
								<div class="input-icon right"
									style="width: 30%; display: inline-block; margin: 10px">
									<input type="text" id="color_pick" style="width: 170px;"
										class="form-control input-circle" placeholder="請選擇標籤顏色">
								</div>
								<button type="button" class="btn btn-circle"
									style="background: #3d4b8b; width: 100px; color: white; float: right; margin: 10px"
									ng-click="tagText()">標註</button>
							</div>

						</div>
					</div>

					<div class="col-md-12 " style="margin-top: 15px;margin-bottom: 15px;">
						<table class="col-md-12 table table-bordered">
							<!-- repeat tr -->
							<tr>
								<th>文字</th>
								<th>標籤</th>
								<th>功能</th>
							</tr>
							<tr ng-repeat="tag in tagList track by $index"
								style="text-align: center; vertical-align: middle;">
								<td style="font-size: 18px;">{{tag.string}}</td>
								<td style="font-size: 18px;">{{tag.tag }}</td>
								<td><button type="button" class="btn btn-primary"
									ng-click="deleteTag($index)"
									style="background: #3d4b8b; color: white;">刪除</button></td>
							</tr>
							<!-- repeat tr -->
						</table>

						<div class="col-md-12" style="background: #4357ad;"> 
							<button type="button" class="btn btn-primary"
								style="background: #3d4b8b; width: 100px; color: white; float: right; margin: 10px"
								ng-click="sendText()">送出</button>
								 
						</div>
					</div>

				</div>
			</div>
		
	</div>
</div>
