<style>
 
    
 ::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #2f3777;
}

.angent-text{
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
    display: flex;
}
.custom-text{
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    display: flow-root;
}
.border-lp{
    border-left: 5px solid #8747bb;
    max-width: 50%;
    border-radius:0px 18px 18px 18px;
    background: #2f3777;
    padding: 10px;
}
.border-rp{
    border-right: 5px solid #4ca1d1;
    max-width: 50%;
    min-width: 20%;
    float: right;
    text-align: left;
    border-radius:18px 0px 18px 18px;
    background: #2f3777;
    padding: 10px;
}
 
    </style>
    <div ng-controller="AIChatCtrl" >
        <div class="page-head">
            <div class="page-title">
                <!-- <h1 style="display: inline-block;">聊天界面</h1> -->
    
            </div>
        </div>
        <div class=" portlet-body" style="height: 80%;">
             
                <div class="row  "  style="  margin: 0 auto;
                overflow: hidden;
                padding: 10px 0;
                width: 85%">
                    <div class="col-md-12 "  >
    
                        <!-- 聊天界面 -->
                        <div style="overflow:hidden; height: 700px;background: #4357ad"  >
                            <div class="pt-3  "   style=" overflow-y: scroll;height:85%">
 
                             <div class="w-100 mt-2" ng-repeat="message in messageList track by $index" ng-class="checkAdmin(message)">
                              
                                    <div  ng-class="checkTextRight(message)">{{message.text}}
                                    <div>   
                                    <button ng-show="checkBtn(message)" type="button" class="btn btn-outline-light  mt-1 float-right" ng-click="editIntent($index)">意圖</button>
                                    </div>
                                    <span style="color:white">intent:{{message.data.intent}}</span>
                                 </div>
                               
                                 </div>     
                              

                            </div>
                            <div class="form-group col-12 pt-5" >
                                <input class="form-control "  placeholder="請輸入" style="display: inline; width: 85%;" ng-model="textInput">
                                <button type="button" class="btn btn-outline-light mb-1" ng-click="submit()">送出</button>
                              </div>
                        </div>
    
                        <!-- preview -->
     
    
                    
     
                </div>
            </div>
        </div>

    </div>
 