<style>
	.intent_edit_block {
		margin-bottom: 30px;
	}

	td {
		vertical-align: middle !important;
	}
</style>
<div ng-controller="AiIntentListCtrl">
	<div class="page-head">
		<div class="page-title">
			<!-- <h1 style="display: inline-block;">意圖列表</h1> -->
		</div>
	</div>
	<div class="portlet-body container">
		<div class="portlet light portlet-fit">
			<div class="row">
				<div class="col-md-12">


					<!-- 插槽 -->
					<div class="col-md-12">

						<h2 style="display: inline-block; margin-top: 10px; margin-bottom: 10px;">
						 
						 
						</h2>
						<button class="btn btn btn-primary" style="float:right" ng-click="addSlots()">新增意圖
						</button>
						<table class="table table-striped table-bordered table-advance table-hover" datatable="ng" dt-options="slotsListDT">
							<thead>
								<tr>
									<th class=" ">意圖名稱</th>
									<th class=" ">狀態</th>
									<th class=" ">新增日期</th>
									<th class=" ">功能</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="intent in intent_list track by $index">
									<td class="center" style="vertical-align: middle">{{intent.intent}}</td>
									<td class="center" style="vertical-align: middle"> </td>
									<td class="center" style="vertical-align: middle"> </td>
									<td class="center" style="vertical-align: middle">
										<button type="button" class="btn btn-info"  ng-click="editIntent($index)">編輯</button>
										<button type="button" class="btn btn-danger" ng-click="deleteIntent($index)">刪除</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>