<div class="ngmodal modal fade">
        <div class="modal-dialog modal-lg " style="width: 50%;">
            <div class="modal-content " >
                <!-- Menu -->
    
                <!-- mainBody -->
           
    
                <div  class="pt-3 " style="min-height: 200px;" >
                    {{slot_list}}
                    {{intent_ranking_list}}
                    </div>
                    <div class="bottom" style="background:  #3d4b8b; " >
                        <div  class="float-right p-3" >
                            <!--  <span style="font-size: 20px; font-weight: 700 !important;">(0/5)</span>-->
                            <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal" id="btn_ok">確認</button>
                            <button type="button" ng-click="close('cancel')" class="btn btn-primary" id="btn_cancel" data-dismiss="modal">取消</button>
                        </div>
                    </div>
    
                </div>
    
    
    
    
            </div>
        </div>
 