<div class="ngmodal modal fade">
	<div class="modal-dialog modal-lg " style="width: 50%;">
		<div class="modal-content " style="height: 430px; overflow: auto;">
			<!-- Menu -->

			<!-- mainBody -->
			<div style="background:#3d4b8b; ">

				<div class="logo-default" style="color: white; font-size: 20px; margin-top: 23px;margin-left:20px" id="title">新增Slot</div>
				<div class="form-group" style="margin-top: 22px">
					<!-- /input-group -->
				</div>
			</div>


			<div class="col-md-12 h-100" style="margin-top: 10px  ;   max-height: 300px;">



				<div class="form-body ">

					<label class="m-checkbox">
						<input type="checkbox" checked="checked" ng-model="sendData.required"> 欄位是否必填
						<span></span>
					</label>

					<!-- <div class="form-group m-form__group">
						<label>
							名稱
						</label>
						<input class="form-control m-input m-input--square" ng-model="sendData.name">
					</div> -->
					<div class="form-group m-form__group">
						<label >Description</label>
						<input class="form-control m-input m-input--square" ng-model="sendData.entity">
					</div>
					<!--同義字-->
					<!-- <div class="form-group m-form__group">
						<label >同義字</label>
						<input class="form-control" ng-model="sameWord" style=" width:90%; display:inline;">
						<a class="btn btn-outline-primary" ng-click="addSameWord()">+</a> 
						<div class="badge badge-pill badge-primary p-2 m-1" style="font-size: 12px " ng-repeat=""> <a class="mr-1" href="" style="color:white">X</a>同義字</div>
					</div> -->
					<!--同義字-->
					<div class="form-group m-form__group">
						<label style="display:block">
							Value
						</label>
						<input type="text" class="form-control" ng-model="sendData.entity_value" style=" width:90%; display:inline;">
						<a class="btn btn-outline-primary" ng-click="addPrompt()">+</a>

					</div>
					<!--提示字元列表-->
					<div class="form-group m-form__group" ng-repeat="prompt in promptList track by $index">
						<div class="p-2 border" >
						<input type="text" class="form-control" ng-model="prompt.entity_value" style=" width:90%; display:inline;">
						<a class="btn btn-outline-primary" ng-click="deletePrompt($index)">-</a>
						
						<input type="text" class="form-control" ng-model="prompt.synonyms" style=" width:90%; display:inline;"  placeholder="請輸入同意字並用,區隔">
						</div>
					</div>

 
			<div  class=" p-3" style="float:right;" >
				<!--  <span style="font-size: 20px; font-weight: 700 !important;">(0/5)</span>-->
				<button type="button" ng-click="close('cancel')" class="btn btn-primary" id="btn_cancel" data-dismiss="modal">取消</button>
				<button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal" id="btn_ok">確認</button>
				
			</div>
 
				</div>
			
			</div>



		</div>


	</div>
	
</div>