<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title></title>
    <link href="/ai/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">
    <link href="/ai/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/ai/static/assets/global/plugins//jquery-minicolors-master/jquery.minicolors.css" rel="stylesheet">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    <!-- IE promise -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@7.1.0/dist/promise.min.js"></script>
    <script src="/ai/static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/ai/static/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/ai/static/assets/global/plugins/angularjs/angular.js" type="text/javascript"></script>
    <script src="/ai/static/assets/global/plugins/angular-ui-router/angular-ui-router.js" type="text/javascript"></script>
    <script src="/ai/static/assets/global/plugins/angularjs/angular-resource.min.js" type="text/javascript"></script>
    <script src="/ai/static/assets/global/plugins/angular-recaptcha-4.1.0/release/angular-recaptcha.min.js" type="text/javascript"></script>
    <script src="/ai/static/assets/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>

    <script src="/ai/static/assets/global/plugins/angularjs/angular-animate.min.js" type="text/javascript"></script>

    <script src="/ai/static/assets/global/plugins/angular-modal-service.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.4/js/bootstrap-select.min.js"></script>
    <script src="/ai/static/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="/ai/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    <link href="/ai/static/assets/global/plugins/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css" rel="stylesheet"
        type="text/css" />

    <script src="/ai/static/assets/global/plugins/angular-datatables/dist/angular-datatables.js"></script>
    <script src="/ai/static/assets/global/plugins/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
    <script src="/ai/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>



    <!-- framwork js -->
    <script src="/ai/static/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="/ai/static/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/ai/static/assets/global/plugins/jquery-minicolors-master/jquery.minicolors.min.js" type="text/javascript"></script>





    <script src="/ai/static/assets/global/plugins/ng-file-upload-master/dist/ng-file-upload.min.js"></script>
    <script src="/ai/static/assets/global/plugins/ng-file-upload-master/dist/ng-file-upload-shim.min.js"></script>


    <script src="/ai/static/assets/global/plugins/angularjs/ui-bootstrap-tpls-3.0.3.min.js"></script>
 
    <script src="/ai/static/assets/global/plugins/angular-modal-service.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.4/js/bootstrap-select.min.js"></script>
    <script src="/ai/static/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="/ai/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    
   

    <!-- END THEME LAYOUT STYLES -->

    <!-- <link href="./assets/theme4/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
              <link href="./assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
              <link href="./assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
              <link href="./assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="/static/assets/theme4/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/theme4/layout4/css/custom.min.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="/static/assets/theme4/css/components.min.css" rel="stylesheet" type="text/css" /> -->
 
<!--     
    <link href="/ai/static/assets/base/style.bundle.css" rel="stylesheet" type="text/css" />
     -->
 
<style>

.navbar-nav .nav-item .nav-link {
    color: white;
}

</style>


</head>

<body data-ng-app="mainApp">

    <!-- Your customer chat code -->
    <!-- <div class="fb-customerchat" page_id="550890748628728" theme_color="#44bec7" logged_in_greeting="您好：請問需要什麼幫助嗎？" logged_out_greeting="您好：請問需要什麼幫助嗎？">
    </div> -->
    <div ng-controller="mainCtrl" >
        <header class="masthead mb-auto" style="background-color: #3d4b8b;  " ng-controller="NavCtrl">
      
               
              
                <nav class=" navbar navbar-expand-lg  justify-content-left">
                <div class="collapse navbar-collapse" >
                    <ul class="navbar-nav  mr-auto">
                        <li class="nav-item ">
                            <a  href="" class="nav-link "   ng-click="goPage(1)" id="page_1">文本標註</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a  href=""  class="nav-link"   ng-click="goPage(2)" id="page_2">意圖編輯</a>
                        </li> -->
                        <li class="nav-item">
                            <a   href=""  class="nav-link"  ng-click="goPage(3)" id="page_3"> 意圖列表</a>
                        </li>
                        <li class="nav-item">
                            <a  href=""  class="nav-link"  ng-click="goPage(4)" id="page_4"> 標注列表</a>
                        </li>
                        <li class="nav-item">
                            <a   href=""  class="nav-link" ng-click="goPage(5)" id="page_5"> 聊天界面</a>
                        </li>
                    </ul>
                  </div>
                </nav>
        
            
        </header>
        <div class="p-5" >
        <div data-ui-view  class="pt-3" style="background-color: white"></div>
          </div>
    </div>



    <!-- custom library -->
    <script src="/ai/static/js/app.js?7" type="text/javascript"></script>

    <script src="/ai/static/js/services.js" type="text/javascript"></script>
    <script src="/ai/static/js/mercueService.js?3" type="text/javascript"></script>
    <!-- page controller -->
    <script src="/ai/static/js/MainCtrl.js?1" type="text/javascript"></script>
    <script src="/ai/static/js/AIEntityCtrl.js?1" type="text/javascript"></script>
    <script src="/ai/static/js/AIIntentEditCtrl.js?1" type="text/javascript"></script>
    <script src="/ai/static/js/NavCtrl.js?1" type="text/javascript"></script>
    <script src="/ai/static/js/AISlotAddModal.js?1" type="text/javascript"></script>
    <script src="/ai/static/js/AIIntentListCtrl.js?1" type="text/javascript"></script>
    <script src="/ai/static/js/AIChatCtrl.js?1" type="text/javascript"></script>
    <script src="/ai/static/js/AIEditChatModal.js?1" type="text/javascript"></script>
    <script src="/ai/static/js/AiEntityListCtrl.js?1" type="text/javascript"></script>
</body>

</html>